*{
    padding: 0;
    margin: 0
}

.contenedor{
    display: flex;
    /*Dirección por defecto*/
    flex-direction: row;
    /*S dividen en varias lineas si no caben*/
    flex-wrap: wrap;
    /*Horizontal*/
    justify-content: center;
    /*Vertical*/
    align-items: flex-end;
    background-color: bisque;
    height: 550px;


}

.cajita-1{
    width: 100px;
    height: 50px;
    background-color: blue;
}
.cajita-2{
    width: 40px;
    height: 200px;
    background-color: greenyellow;
}.cajita-3{
    display: flex;
    /*Alineación individual*/
    align-self: center;
    width: 100px;
    height: 50px;
    background-color: yellow;
}.cajita-4{
    width: 40px;
    height: 200px;
    background-color: orangered;
}.cajita-5{
    width: 100px;
    height: 50px;
    background-color: purple;
}.cajita-6{
    width: 40px;
    height: 200px;
    background-color: aquamarine;
}